    @font-face {
    font-family: DeliciousRoman;
    src: url(../font/STXIHEI.TTF);
    }

body{background-color:#f2f2f2;margin:0px;color: #333;font-family: "STXIHEI,Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 14px;line-height: 20px;}
ul,li{padding:0px;margin:0px; list-style-type: none;}
p{padding:0px;margin:0px;margin-left: 70px;font-size: 12px;}
a{text-decoration: none!important;}
a:hover{text-decoration: none;}
.detal_info{border:1px solid #1490f4}
.portlet{margin-bottom:0px;}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username{color:#79869a;}
.submenu_icon{display:inline-block;width:20px;text-align: center;margin:0 5px 0 0}
.m_header_home{color:#79869a;padding:14px 10px 12px!important;}
.m_header_home:hover{background-color:#3f4f62!important;color:#c6cfda}
.m_margin_0_auto{margin:0px auto!important}
.m_padding_25_0_0_0{padding:25px 0 0 0}
.m_padding_15_0_0_0{padding:15px 0 0 0}
.m_padding_10_0{padding:10px 0}
.m_padding_top_0{padding-top:0px!important;}
.m_margin_15_0{margin:15px 0}
.m_padding_0_0_25_0{padding:0 0 0 25px}
.m_padding_0_15_0_0{padding:0 15px 0 0px}
.m_padding_0_15{padding:0 15px}
.m_padding_15{padding:15px}
.m_padding_15_0{padding:15px 0px}
.m_padding_0_0_0_15{padding:0 15px 0 0}
.m_padding_8_0_0_15{padding:8px 0px 0px 15px}
.m_margin_25_0_0_0{margin:25px 0 0 0}
.m_margin_0_0_0_0{margin:0px!important}
.m_margin_0_0_15_0{margin:0 0 15px 0}
.m_margin_0_0_10_0{margin:0 0 10px 0}
.m_margin_5_0_0_0{margin:5px 0 0 0}
.m_margin_15_0_0_0{margin:15px 0 0 0}
.m_margin_15_auto_0{margin:15px auto 0!important}
.m_margin_10_auto{margin:10px auto!important}
.m_margin_top-15{margin-top:15px}
.m_margin_buttom_0{margin-bottom:0px!important}
.m_margin_left_15{margin-left:15px!important}
.m_text_align_conter{text-align: center;}
.m_text_align_right{text-align: right;}
.m_font_style_normal{font-style: normal;}
.m_float_right{float:right;}
.m_float_left{float:left;}
.m_position_relative{position: relative;}
.m_background_white{background-color:#fff;}
.m_overflow_hidden{overflow:hidden;}
.m_cursor_pointer{cursor: pointer;}
.m_hr{border-top:1px solid #eee;margin-bottom:0px;}
#totalChart{margin:0px auto!important}
#amChart{border-right:1px solid #32c5d2}
#pmChart{border-left:1px solid #32c5d2}
.repair_img img{height:150px;margin:0px 15px 0 0;width:auto;border-radius:4px;}
.dl_select{}
.dl_select dd{width:auto;padding:5px;border:1px solid #c2cad8;cursor:pointer; border-radius:4px;margin:0 15px 15px 0;float:left}
.dl_select .select{border:1px solid #c2cad8;background-color:#c2cad8;color:#fff;}
.page-sidebar-fixed .footer{background:none;}
.container-fluid{padding:0px 10px;}
.row-fluid .span1{width: 7.38298%;}
.row-fluid [class*="span"]{margin-left: 1.12766%;}
.m_container{min-height:760px;}
.module_function_btn{margin-bottom:27px;}
.module_function_btn a{margin-right:15px;}
.m_page select{width:auto}
.m_page_con{background-color:#fff;}
.m_display_inline{display:inline-block!important}
.m_display_block{display:block}
.m_clear_both{clear:both;}
.information_radio{text-indent: 30px;position: relative;font-weight: normal!important;margin:0 20px 0 0}
.information_radio .radio_con{text-indent:0px;display:inline-block;position: absolute;top:0px;left:0px;}
.page,.sms_server,.school_con,#grade,#clazz{display:none}
.dashboard-stat.red .more span{margin:0 15px 0 0}
.food_detail{width:100%;}
.food_detail span{display:inline-block;width:23%;margin:15px 1% 0}
.food_detail span img{display:block;width:90%;margin:0 5%}
.dashboard-stat .details .number{padding:15px 0px}
.sms_select{height:200px!important;}
.grow_templet{clear:both;overflow:hidden;}
.grow_templet li{float:left;width:45%;margin:0px 2.5%;text-align: center;}
.grow_templet li img{margin:0px auto;display:block;}
.grow_templet li p{padding:15px 0px;text-align: center;}
.m_width_5{width:5%;}
.m_width_10{width:10%!important;}
.m_width_15{width:15%;}
.m_width_20{width:20%!important;}
.m_width_25{width:25%;}
.m_width_30{width:30%;}
.m_width_35{width:35%;}
.m_width_40{width:40%!important;}
.m_width_45{width:45%;}
.m_width_50{width:50%;}
.m_width_55{width:55%;}
.m_width_60{width:60%;}
.m_width_65{width:65%;}
.m_width_70{width:70%;}
.m_width_75{width:75%;}
.m_width_80{width:80%;}
.m_width_85{width:85%;}
.m_width_90{width:90%!important;}
.zheng,.shangke{font-style: normal;padding:5px;background-color:#34aa49;color:#fff;font-weight:bold;border-radius:3px;margin:0 10px 0 0}
.zhao,.xiuxi{font-style: normal;padding:5px;background-color:#ffb849;color:#fff;font-weight:bold;border-radius:3px;margin:0 10px 0 0}
.chi{font-style: normal;padding:5px;background-color:#d74b34;color:#fff;font-weight:bold;border-radius:3px;margin:0 10px 0 0}
.fei{font-style: normal;padding:5px;background-color:#832d98;color:#fff;font-weight:bold;border-radius:3px;margin:0 10px 0 0}
.qi{font-style: normal;padding:5px;background-color:#4e91fc;color:#fff;font-weight:bold;border-radius:3px;margin:0 10px 0 0}
.kuang{font-style: normal;padding:5px;background-color:#1f5cb9;color:#fff;font-weight:bold;border-radius:3px;margin:0 10px 0 0}
.m_width_100{width:100%;}
table{table-layout:fixed;}
table td{word-wrap:break-word}
table td a{margin:0 10px 0 0}
.xdsoft_datetimepicker,.select2-container--bootstrap{z-index:999999}
.select2-container{float:right;width:56% !important}
.page-content-wrapper .page-content{padding:5px 20px 10px!important;}
.page-content-white .page-title{margin:15px 0}
#announcementContent span{margin:15px 15px 0 0;display:inline-block;color:#666}
#announcementContent span b{padding:0 0 0 10px;}
#student{}
#student li{padding:5px 10px;border:1px solid #bbb7b7;overflow:hidden;display:inline-block;margin:0px 15px 15px 0;border-radius:4px;cursor: pointer;}
#student li em{color:#7d7979;margin:0 0 0 5px;}
#student .select{background-color:#e4e0e0;}
#student .selected{background-color:#e4e0e0;}
.student_list li{padding:5px 10px;border:1px solid #bbb7b7;overflow:hidden;display:inline-block;margin:0px 15px 15px 0;border-radius:4px;cursor: pointer;}
.student_list li em{color:#7d7979;margin:0 0 0 5px;}
.student_list .select{background-color:#e4e0e0;}
.Activity input{width:100%;padding:5px 0px;border:none}
.Activity .add_title{width:80%;padding:5px 0px;border:none}
.Activity i{width:15%;padding:5px 0px;display:inline-block;color:#666;}
.syllabus .add_title{width:70%;padding:5px 0px;display: inline;}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu{max-width:175px}
.syllabus a{width:28%;padding:5px;display: inline;margin-left:5px!important;margin-right:0px!important;}
/*条件搜索*/
.search_box{overflow:hidden;}
.search_box .m_span{line-height:30px;width:25%;display:inline-block;text-align: right;}
.search_box .m_input{line-height:30px;width:70%;display:inline-block;margin:0px;padding:0px 1%;height:30px;float:right;}
.search_box .m_select{line-height:30px;width:70%;display:inline-block;margin:0px;padding:0px 1%;height:30px;float:right;}
/*二级菜单*/
.submenu{position: fixed;top:65px;}
.submenu h2{font-weight:bold;color:#333;padding:15px 0px;margin:0px;font-size:16px;}
.submenu li{padding:10px;cursor: pointer;}
.submenu .active{color:#fff;background-color:#36c6d3;}
.submenu .active a{color:#fff;}
textarea{resize:none}
.footer .footer-inner {text-align: center;width: 100%;}
.NormalCss{background:url('../image/sort_both.png') no-repeat center right;background-repeat:no-repeat;background-position:right center;}
.SortDescCss{background:url('../image/sort_desc.png') no-repeat center right;background-repeat:no-repeat;background-position:right center;}
.SortAscCss{background:url('../image/sort_asc.png') no-repeat center right;background-repeat:no-repeat;background-position:right center;}
.breadcrumb{background:none; margin:20px 0px;}


.public_page{width:100%;margin:15px auto 0px;text-align: center;}
.public_page li{margin:0px auto;display:inline;margin:0px 15px;}

.Permission,.personnels{display:none;float:left;margin:0 15px 0 0;width:30%;border-radius:4px;border:1px solid #cdcdcd;height:300px;overflow:hidden}
.Permission p,.personnels p{background-color:#efefef;color:#676767;z-index:8; margin:0px;top:1px;left:1px;width:100%;padding:5px 10px;text-indent: 30px;position: relative;}
.Permission p .checkbox,.personnels p .checkbox{position: absolute; top:5px;left:10px;width:17px;min-height:17px!important;margin:0px;background-color:#fff!important;text-indent:0px;text-align:center; line-height:20px;border:1px solid #cccccc;color:#2d7ebd;}
.Permission p .search_m,.personnels p .search_m{position: absolute; top:0px;right:20px;cursor: pointer;margin:7px 0 0 0}
.Permission p i,.personnels p i{position: absolute; top:0px;right:20px;cursor: pointer;margin:7px 0 0 0}
.Permission p .search_box,.personnels p .search_box{position: absolute; left:0px;bottom:-40px;display:none;background-color:#fff;z-index:9;border-bottom:1px solid #cdcdcd;margin:0px;height:40px;}
.Permission p .search_box .input_text,.personnels p .search_box .input_text{margin:0px;float:left;padding:0 5px;position: static;width:130px;height:25px;line-height:25px;margin:5px 0 0 20px;}
.Permission p .search_box .input_button,.personnels p .search_box .input_button{margin:0px;float:left;padding:0 10px; position: static;height:27px;margin:5px 0 0 5px;border:1px solid #cdcdcd;color:#666;}
.Permission dl,.personnels dl{height:300px;width:100%;margin:0px;overflow-x:hidden;overflow-y:block;position:relative;}
.Permission dl dd,.personnels dl dd{padding:5px 10px;text-indent: 30px;margin:0px;position: relative;cursor: pointer;}
.Permission dl dd i,.personnels dl dd i{position: absolute;background-color:#fff!important; top:5px;padding-top:0px!important;left:10px;width:17px;height:17px;min-height:17px!important;border:1px solid #cccccc;color:#2d7ebd;text-indent: 0px;text-align: center;}
.Permission dl .checked,.personnels dl .checked{background-color: #32c5d2 ;color: #fff;}
.Permission dl dd .next_menu{color: #4eb2f6;height: 17px;right: 10px;line-height: 20px;position: absolute;text-align: center;text-indent: 0;top: 5px;width: 17px;}

.settime p{position: relative;padding:10px 0px;text-indent: 30px;}
.settime p .checkbox{border:1px solid #ccc;background-color:#fff;width:20px;line-height:20px;min-height:20px; text-align:center; text-indent:0px;color:#ccc; margin:0px 10px 0 0;cursor:pointer; display:inline-block;position: absolute;top:10px;left:5px;}
.time_con{display:none;}
.selectObject{height:300px;border:1px solid #c2cad8;margin:0 2% 0 0;padding:5px;border-radius:4px;}
.selectObject p,.selectObject ul li{height:30px;line-height:30px;border-bottom:1px solid #c2cad8;position: relative;text-indent: 35px;margin:0px;padding:0px;}
.selectObject p i,.selectObject ul li i{padding:8px 0;border:1px solid #999;text-indent:0px; position:absolute;width:15px;height:15px;padding:0px;top:8px;left:8px;line-height:15px!important;text-align: center;color:#999;cursor: pointer;}
.selectObject ul{width:100%;}
.selectObject p .fa-check,.selectObject ul li .fa-check{text-indent:0px;}
.td_row,.schedule_detail{display:block!important;margin:0px auto;width:15px;height:15px;border:1px solid #999;padding:0px;line-height:15px!important;text-align: center;color:#999;cursor: pointer;}
.schedule_time p span{margin:0 10px 0 0;display:inline-block;text-indent: 30px;position: relative;}
.schedule_time p span i{padding:8px 0;border:1px solid #999;text-indent:0px;display:inline-block; width:15px;height:15px;padding:0px;position:absolute;top:2px;left:8px; line-height:15px!important;text-align: center;color:#999;cursor: pointer;}
.modal-body{max-height:400px;overflow-x:hidden;overflow-y:auto}

.replaceMonth,.replaceNumber,.setMedal{border:1px solid #eaeaea;height:160px;margin-bottom:20px;position: relative;}
.replaceMonth h2,.replaceNumber h2,.setMedal h2{margin:0px;text-align:left;padding:0px 15px;height:40px;line-height:40px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;font-size:14px;font-weight:bold}
.replaceMonth .info,.replaceNumber .info,.setMedal .info{height:120px;width:75%;}
.replaceMonth .info b,.replaceNumber .info b,.setMedal .info b{width:26%;height:76px;margin:5px 4%;background-color:#27aae2;color:#fff;display:block;float:left;text-align: center;font-size:40px;}
.replaceMonth .info b i,.replaceNumber .info b i,.setMedal .info b i{line-height:76px;}
.replaceMonth .info p,.replaceNumber .info p,.setMedal .info p{width:60%;height:120px;float:left;display:block;margin:0px;padding:0px;}
.replaceMonth .info p span,.replaceNumber .info p span,.setMedal .info p span{height:25px;line-height:25px;display:block;text-align: left;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.replaceMonth .info p span em,.replaceNumber .info p span em,.setMedal .info p span em{font-style:normal;font-weight:bold;}
.replaceMonth .info p span input,.replaceNumber .info p span input,.setMedal .info p span input{width:50px;display:inline-block;height:23px;line-height:23px;padding:0px;margin:0px 10px 2px;border:1px solid #ccc;background-color:#fff;}
.replaceMonth .m_btn,.replaceNumber .m_btn,.setMedal .m_btn{width:20%;position: absolute;right:5px;bottom:5px;}
.schedule_person_p {font-size: 24px;font-weight: bold;padding: 25px 0;text-align: center;}
.zheng, .shangke {background-color: #34aa49;border-radius: 3px; color: #fff;font-style: normal;font-weight: bold;margin: 0 10px 0 0;padding: 5px;}
.select_personnel p input {}
.student_list p{background:#16ABDB;color:#fff; padding:5px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.album_list{position: relative;}
.album_list em{display:none;position:absolute;top:0px;left:15px; width:20px;height:20px;text-align:center;line-height:17px!important;text-indent:0px;cursor:pointer; border:1px solid #666;background-color:#fff;z-index:9;color:#666;margin:0 15px 0 0}
.album_list .actions{position: absolute;top:15px;right:30px;width:100px;height:90px;backgorund-color:#fff;display:none}
.album_list .actions i{display:block;text-align:center;background-color:#fff; color:#666;float:right; font-weight:blod;cursor: pointer;padding:5px 0px;width:30px;}
.album_list .actions ul{display:block;clear:both;}
.album_list .actions ul li{background-color:#fff;color:#666;cursor: pointer;cursor: pointer;text-align: center;padding:5px 0px;}
.album_list .actions ul li:hover{background-color:#f2f2f2;}
.m_img_share,.m_btn_share{display:none}
.m_img_share p{cursor: pointer;padding:5px;text-align: center;border-radius:4px;}
.m_img_share .select{background-color:#32c5d2;color:#fff}
.m_img_share h5 small{margin:0px 15px;}
.m_img_share h5 small b{color:#e73d4a;margin:0px 15px}
.select_num_photo{display:none;margin:0 15px 0 0;position: relative;text-indent:25px;}
.select_num_photo b{margin:0 15px;}
.select_num_photo i{display:block;position:absolute;top:0px;left:0px; width:20px;height:20px;text-align:center;line-height:17px!important;text-indent:0px;cursor:pointer; border:1px solid #666;color:#666;margin:0 15px 0 0}
.album_list img{width:100%;}
.v_out{width:100%;margin:0px auto;overflow:hidden;}
.v_show{width:100%;overflow:hidden;position:relative;height:280px;float:left}
.v_cont{width:100%;position:absolute;left:0px;top:0px;}
.v_cont ul{float:left;text-align:center;line-height:50px;width:100%;height:280px;}
.v_cont ul li{width:100%;height:280px;background:#f8f8f8;float:left;margin-top:3px;}
/*---圆圈---*/
.v_out_p{position:relative;overflow:hidden;}
.circle{margin:15px auto 0px;}
.circle li{width:90px;height:60px;float:left;margin-right:10px;background:#ccc}
.circle-cur{border: 3px solid dodgerblue;}
/*---切换---*/
.prev{left:20px;padding:105px 9px 0;position: absolute;z-index: 9}
.next{right:28px;padding:105px 9px 0;position: absolute;z-index: 9}
.prev a{ background:#f00;}
.prev .ico_1{ background:url(input_a.gif) no-repeat 0 -3757px;}
.next a{background:#f00 }
.next .ico_2{background:url(input_a.gif) no-repeat right -3757px;}
.prev,.prev a,.next,.next a{width:21px;height:28px; display:block}
.v_show_info{width:100%;height:380px;}
.v_show_info .photo_detail_header{height:60px;margin:0px;}
.v_show_info .photo_detail_header img{height:58px;width:58px;border:1px solid #b3b3b3;display:block;float:left;}
.v_show_info .photo_detail_header .photo_detail_info{width:190px;height:60px;float:left;margin:0 0 0 5px;}
.v_show_info .photo_detail_header .photo_detail_info p{height:30px;line-height:30px;color:#9a9a9a;margin:0px;}
.v_show_info .photo_detail_header .photo_detail_info p b{color:#178ef2;margin:0px;}

.v_show_info .tool{overflow:hidden;border:1px solid #f2f2f2;hieght:30px;margin:5px 0px;padding:0px;clear:both;}
.v_show_info .tool li{list-style-type: none;width:33%;height:30px;line-height:30px;float:left;border-right:1px solid #f2f2f2;text-align: center;color:#999;}
.v_show_info .tool li a{color:#999;margin:0px 5px;}
.v_show_info textarea{height:30px;display:block;}
.photo_add_textarea{width:220px!important;}
.v_show_info .Like{height:30px;line-height:40px;width:282px;}
.v_show_info .Like i{height:30px;line-height:30px;width:30px; color:#c7c7c7;float:left;font-size:16px;text-align:center; display:inline-block;}
.v_show_info .Like span{height:30px;line-height:30px;float:left;margin:0 0 0 5px;color:#0D638F;}
.v_show_info .Like img{height:38px;width:38px;border:1px solid #c7c7c7;margin:0 0 0 15px;float:left}
.v_show_info .bbs_list{margin:10px auto 0;overflow:hidden;}
.v_show_info .bbs_list img{float:left;width:15%}
.v_show_info .bbs_list .bbs_info{float:right;float:right;width:83%}
.v_show_info .bbs_list .bbs_info p{padding:0px 5px 5px;}
.v_show_info .bbs_list .bbs_info p span{padding:0px 0px 0px 5px;cursor: pointer;color:#32c5d2}
.bbs_list img{width:15%;float:left;display:block}
.bbs_info{width:83%;float:right}
.time_line_tool{padding:15px 0 0}
.time_line_tool span{margin:0 15px 0 0;cursor: pointer;color:#578ebe;}
.time_line_tool span i{margin:0 5px 0 0;}
.time_line_tool span b{margin:0 5px;}
.video li{display:block;float:left;height:100px;border:1px solid #eee;margin:0 15px 15px 0px;padding:0px 15px;cursor: pointer;}
.video .select{border:1px solid #32c5d2;}
.video li i{display:block!important;margin:0px auto;height:50px;line-height:50px!important;color:#32c5d2;font-size: 30px;}
.video li p{height:25px;line-height:25px;color:#666; text-align: center;}
.zan_list{}
.zan_list i,.zan_list span{margin:0 5px 0 0;padding:15px 0 0;color:#95a5a6}
.photo_bbs img{width:80px;height:80px;border-radius:50%;display:block;margin:0px auto;}
.photo_bbs,.photo_bbs_list{padding:15px 0;overflow:hidden;}
.photo_bbs_info p{margin:5px 0;}
.photo_bbs_info p span{margin:0 0 0 15px;cursor: pointer;color:#578ebe;}
#search_Result li,.teacherSms_list li{padding:10px;border:1px solid #eee;margin:0px 15px 15px 0;display:inline-block;float:left;cursor: pointer;}
#search_Result .select,.teacherSms_list .select{border:1px solid #32c5d2!important;}
.photo_info {height: 46px;margin: 0px auto;position: relative;}
.photo_info .title{ font-size: 12px;font-weight: bold;white-space: nowrap;text-overflow: ellipsis;color: rgb(51, 51, 51);font-family: 微软雅黑;margin-top: 10px !important;}
.photo_info p{height: 23px;line-height: 23px;font-size: 12px;color: #A7A0A0;margin: 0px;width: 120px;text-indent: 15px}
.photo_info span{display: block;width: 40px;  height: 46px; line-height: 46px; color: #ccc; font-size: 20px;text-align: center; position: absolute;top: 0px;  right: 0px;}
.album_list{width:210px;height:190px;background:url("../img/photo_bg.png")no-repeat;;margin:10px;}
.album_list img{width:168px;height:130px;display: block;position:relative;top:10px;left: 10px;}
/*
   相册列表显示样式
*/
.photo_detail_header img{height: 58px; width: 58px;border: 1px solid #b3b3b3;display: block;float: left;}
.photo_detail .photo_detail_info{height: 30px; line-height: 30px;color: rgb(154, 154, 154);margin: 0px;}
.photo_detail ul{margin: 15px 0px 0px;padding: 0px;}
.photo_detail ul li{position:relative;}
.photo_detail ul li{width: 220px;height: 170px;display: block;border: 1px solid rgb(218, 220, 217);float: left; margin: 0px 15px 15px 0px}
.photo_detail ul li img{width: 200px; height: 135px;display: block; margin: 10px auto 0px;}
.Actions_ul{position: absolute;top:30px;right: 20px;text-align: center;font-size: 12px;width:90px;background: #fff;height:85px;}
.photo_detail ul#photoDetailList li .actions i{position: absolute;top:15px;right: 20px;background: white;width: 20px;height: 20px;}
.Actions_ul a dd{color:#0d638f;margin-top: 10px;}


.listBox{width: 800px;height: 70px;  margin: 0 auto;position: relative; padding: 6px 0 10px; overflow: hidden;}
.listBox ul{height: 70px;  position: absolute;padding: 0px;  margin: 0px;}
.listBox ul li{width: 70px;height: 70px;margin: 0px 5px;cursor: pointer;position: relative;}
.listBox li img{width:100%;height:100%;}
.v_cont ul li img {width: 800px;height: 400px;}

/*媒体查询*/
 @media(min-width: 1025px){
  .submenu li{width:80px;}
  .search_box .m_span{width:40%;}
  .search_box .m_input{width:56%;}
  .search_box .m_select{width:56%;}
  .modal-body{max-height: 400px;}
 }
@media(max-width: 1024px) {
#amChart{border-right:none}
#pmChart{border-left:none}
.modal-body{max-height: 300px;}
.submenu li{width:60px;}
.search_box .m_span{width:40%;}
.search_box .m_input{width:56%;}
.search_box .m_select{width:56%;}
}