<!--题目内容-->
<div class="subjectiveContent"  id="subjectiveModel"  style="display: none">
    <ul class="subjectiveTopics">
        <div class="subjectiveTopic">
            <li style="margin-left: 20px">
                <span>第<span class="topicNumber"></span>题 </span>
                        <span class="topicProperty">
                                该题分数：<input value="10" size="3" class="integral">
                        </span>
                <div class="topicBar">
                    <button class="topicBarEditButton">保存</button>
                    <!--<button class="topicBarRemoveButton">删除</button>-->
                    <input type="hidden" class="exercisesId">
                </div>
            </li>
            <ul>
                <!--题目内容-->
                <div class="subjectiveTopicEdit">
                    <div class="subjectiveTopicUEditor"></div>
                    <div style="display: none;" class="subjectiveTopicUEditorValue"></div>
                </div>
                <!--答题卡-->
                <div>
                    <!--<button class="addOption">添加</button>-->
                    <!--<button class="removeOption">删除</button>-->
                    <div>答案：</div>
                    <span class="topicOptions">
                        <!--<label class="topicOptions"><span class="topicOptionsText">第1处：</span><input type="text"></label>-->
                    </span>
                </div>
            </ul>
        </div>
    </ul>
</div>